<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.GoodsTypeDao">

    <resultMap id="BaseResultMap" type="com.atguigu.jxc.entity.GoodsType">
        <result column="goods_type_id" property="goodsTypeId" jdbcType="INTEGER"/>
        <result column="goods_type_name" property="goodsTypeName" jdbcType="VARCHAR"/>
        <result column="p_id" property="pId" jdbcType="INTEGER"/>
        <result column="goods_type_state" property="goodsTypeState" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMap02" type="com.atguigu.jxc.entity.Goods">
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_code" property="goodsCode" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="INTEGER"/>
        <result column="inventory_quantity" property="inventoryQuantity" jdbcType="VARCHAR"/>
        <result column="last_purchasing_price" property="lastPurchasingPrice" jdbcType="VARCHAR"/>
        <result column="min_num" property="minNum" jdbcType="VARCHAR"/>
        <result column="goods_model" property="goodsModel" jdbcType="VARCHAR"/>
        <result column="goods_producer" property="goodsProducer" jdbcType="VARCHAR"/>
        <result column="purchasing_price" property="purchasingPrice" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="selling_price" property="sellingPrice" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR"/>
        <result column="goods_type_id" property="goodsTypeId" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="save">
        insert into t_goods_type(goods_type_id,goods_type_name,p_id,goods_type_state)
        <if test="pId == 1">
            values(null,#{goodsTypeName},#{pId},1)
        </if>
        <if test="pId != 1">
            values(null,#{goodsTypeName},#{pId},0)
        </if>
    </insert>

    <update id="updateGoodsTypeState" parameterType="com.atguigu.jxc.entity.GoodsType">
        UPDATE t_goods_type
        SET goods_type_state = #{goodsTypeState}
        WHERE goods_type_id = #{goodsTypeId}
    </update>
    <delete id="deleteGoodsType">
        delete from t_goods_type where goods_type_id = #{goodsTypeId}
    </delete>
    <select id="queryGoods" resultType="com.atguigu.jxc.entity.GoodsType">
        SELECT t1.goods_type_name t1_name,
        t2.goods_type_name t2_name
        from t_goods_type t1
        left JOIN t_goods_type t2
        on t1.goods_type_id = t2.p_id
        where t1.goods_type_state = 1

    </select>

    <resultMap id="BaseResultMap03" type="com.atguigu.jxc.entity.vo.GoodsTypeVo">
        <id column="goods_type_id" property="id"/>
        <result column="goods_type_name" property="text"/>
        <result column="goods_type_state" property="attributes.state"/>
        <collection property="children" ofType="com.atguigu.jxc.entity.vo.GoodsTypeVo">
            <id column="t2_id" property="id"/>
            <result column="t2_name" property="text"/>
            <result column="t2_state" property="attributes.state"/>
            <collection property="children" ofType="com.atguigu.jxc.entity.vo.GoodsTypeVo">
                <id column="t3_id" property="id"/>
                <result column="t3_name" property="text"/>
                <result column="t3_state" property="attributes.state"/>
            </collection>
        </collection>

    </resultMap>

    <select id="queryGoodsTypes" resultMap="BaseResultMap03">
         SELECT
         t1.goods_type_id,
         t1.goods_type_name,
         t1.goods_type_state,
         t2.goods_type_id t2_id,
         t2.goods_type_name t2_name,
         t2.p_id,
         t2.goods_type_state t2_state,
         t3.goods_type_id t3_id,
         t3.goods_type_name t3_name,
         t3.goods_type_state t3_state
        FROM t_goods_type t1
        LEFT JOIN t_goods_type t2
        ON t1.goods_type_id=t2.p_id
        LEFT JOIN t_goods_type t3
        ON t2.goods_type_id=t3.p_id
        WHERE t3.goods_type_state=0
    </select>


</mapper>
